@page "/add-event"
@inject EventEase.Services.EventService EventService
@using EventEase.Pages.Models
@using Microsoft.AspNetCore.Components.Forms

<h3>Add Event</h3>

<EditForm Model="newEvent" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Name:</label>
        <InputText @bind-Value="newEvent.Name" />
    </div>
    <div>
        <label>Date:</label>
        <InputDate @bind-Value="newEvent.Date" />
    </div>
    <div>
        <label>Time:</label>
        <InputText @bind-Value="newEvent.Time" type="time" />
    </div>
    <div>
        <label>Description:</label>
        <InputTextArea @bind-Value="newEvent.Description" />
    </div>
    <button type="submit">Add Event</button>
</EditForm>

@code {
    private Event newEvent = new Event();

    private async Task HandleValidSubmit()
    {
        await EventService.AddEventAsync(newEvent);
        newEvent = new Event(); // Reset the form
    }
}