@page "/events"
@inject EventEase.Services.EventService EventService
@using EventEase.Pages.Models
@using EventEase.Components

<h3>Event List</h3>

@if (events == null)
{
    <p>Loading...</p>
}
else if (!events.Any())
{
    <p>No events available.</p>
}
else
{
    <ul>
        @foreach (var eventModel in events)
        {
            <li>
                <EventCard Event="eventModel" />
            </li>
        }
    </ul>
}

@code {
    private List<Event>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await EventService.GetEventsAsync();
    }
}