@page "/"

<PageTitle>Home</PageTitle>

<h1>EventEase</h1>

<h2><i>Welcome to your new app.</i></h2>

EventEase is your ultimate solution for seamless event management. Whether you're organizing a small gathering or a large conference, EventEase provides all the tools you need to plan, manage, and execute your events with ease. Stay tuned for more features and updates!
