@using Microsoft.AspNetCore.Components.Routing
@inject EventEase.Services.UserSessionService UserSessionService

<link href="css/site.css" rel="stylesheet" />

<div class="navbar">
    <a class="navbar-brand" href="">EventEase</a>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="events">Events</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="register">Register Event</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="login">Login</NavLink>
        </li>
    </ul>
    @if (UserSessionService.IsSessionActive())
    {
        <div class="user-session">
            <p>Welcome, @UserSessionService.UserName</p>
            <p>Session started at: @UserSessionService.SessionStartTime</p>
        </div>
    }
</div>
